.tasks {
    padding: 1.8rem;
    margin-top: 2rem;
    padding-left: 2px;
    
    li {
        display: block;
        padding: 12px 20px 12px 25px;
        margin: 0;
        font-size: 1.3rem;
        color: #006400;
        padding-left: 45px;
        position: relative;

        .label {
            margin-top: 2px;
            margin-left: 10px;
            min-width: 80%;
        }

        .status {
            color: #575757;
            display: inline-block;
            width: 80%;

            &.open  {
                &:before {
                    font-size: 24px;
                    line-height: 24px;
                    color: #ccc;
                    content: '\e601';
                    font-family: 'luma-icons';
                    margin: -12px 0 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    left: 0;
                    top: 22px;
                    width: 45px;
                    position: absolute;
                    text-align: center;
                }
            }

            &.complete {
                color: #ccc;
                text-decoration: line-through;

                &:before {
                    font-size: 24px;
                    line-height: 24px;
                    color: #006400;
                    content: '\e60e';
                    font-family: 'luma-icons';
                    margin: -12px 0 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    left: 0;
                    top: 22px;
                    width: 45px;
                    position: absolute;
                    text-align: center;
                }
            }
        }

        .delete {
            &:hover {
                cursor: pointer;
            }
        }

        a {
            cursor: pointer;
        }
    }
}

.form-container {
    margin: 0 20px 20px 20px;
    display: flex;

    .task-input-field {
        max-width: 80%;
        border-radius: 2px;
    }

    .actions-toolbar {
        margin-left: 5px;
    }
}